option_settings:
  aws:elasticbeanstalk:application:environment:
    RUNNING_ON_EB: "true"

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_fix_permissions:
    command: "chmod 666 /tmp/db.sqlite3 || true"
    leader_only: true
